<h1>I am amitava</h1>
<hr>
<br>
<button (click)="pujo()" style="margin: 20px;">click for event</button>
<br>

<label>
  User Name:
  <input type="text"[formControl]="uname">
</label>
<p>
  User Name is from angular {{uname.value}}
</p>
<br>
<button (click)="updateName()" style="margin: 20px;">click to update</button>
<br>
<hr>
<h1>ALL THE TVs...........</h1>
<br>
<table border="1" cellPadding="5">
  <tr>
    <th>TV BRAND</th>
    <th>TV PRICE</th>
    <th>TV TYPE</th>
     
  </tr>
  <tr *ngFor="let i of products">
    <td>{{ i.brand }}</td>
    <td>{{ i.price }}</td>
    <td>{{ i.type }}</td>  


  </tr>
</table>

